#shiny-notification-panel { top: 10px; }

.dropdown-menu>li>span {
 display:block;
 padding:3px 20px;
 clear:both;
 font-weight:400;
 line-height:1.42857143;
 color:#333;
 white-space:nowrap
}
.dropdown-menu>li>span:hover,
.dropdown-menu>li>span:focus {
 color:#262626;
 text-decoration:none;
 background-color:#f5f5f5
}
.dropdown-menu>.active>span,
.dropdown-menu>.active>span:hover,
.dropdown-menu>.active>span:focus {
 color:#fff;
 text-decoration:none;
 background-color:#337ab7;
 outline:0
}
.dropdown-menu>.disabled>span,
.dropdown-menu>.disabled>span:hover,
.dropdown-menu>.disabled>span:focus {
 color:#777
}
.dropdown-menu>.disabled>span:hover,
.dropdown-menu>.disabled>span:focus {
 text-decoration:none;
 cursor:not-allowed;
 background-color:transparent;
 background-image:none;
 filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}

.dropdown-menu>li>span>label {
 font-weight:normal
}
